#mainInput {
	width: 100%;
}

.battle-background {
	background-image: url(../img/backgrounds/backgroundColorDesert.png);
	background-color: rgb(242,225, 194);
	background-position: 0px -370px;
	background-repeat: repeat-x;
}

/* Annoyingly Mozilla/Firefox supports crisp-edges but not pixelated.
And google chrome supports pixelated but not crisp-edges. */
.pixelated {
	image-rendering: pixelated crisp-edges;
}